# macOS system files
.DS_Store

# Python virtual environment
venv/

# Python compiled files
*.pyc
__pycache__/
.pytest_cache/

# Python packaging files
*.egg-info/
dist/
build/

# IDE files
.idea/
.vscode/
